@import "../helpers/mixins";
@import "../helpers/variable";
// ======================================
// Reset
// ======================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.2;
    font-weight: 600;
    color: $font-color1;
}

// ======================================
// Common
// ======================================
body {
    font-family: "Source Sans Pro", "Microsoft JhengHei", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    .icon-svg {
        width: 16px;
        height: 16px;
    }
}

